# Data Wrangling Emissions Dataset

- **FAO** - Food and Agriculture Organization of the United Nations, is a specialized agency of the United Nations that leads international efforts to defeat hunger. [Link database](https://www.fao.org/faostat/en/#data/GT)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:\\Users\\USER\\Documents\\GitHub\\Project1\\FAOSTAT_data_en_7-8-2024 (1).csv')

In [3]:
df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,GT,Emissions totals,4,Afghanistan,7234,Direct emissions (N2O),5064,Crop Residues,2010,2010,3050,FAO TIER 1,kt,1.2742,E,Estimated value,NaN
1,GT,Emissions totals,4,Afghanistan,7230,Emissions (N2O),5064,Crop Residues,2010,2010,3050,FAO TIER 1,kt,1.5609,E,Estimated value,NaN
2,GT,Emissions totals,4,Afghanistan,724313,Emissions (CO2eq) from N2O (AR5),5064,Crop Residues,2010,2010,3050,FAO TIER 1,kt,413.6385,E,Estimated value,NaN
3,GT,Emissions totals,4,Afghanistan,723113,Emissions (CO2eq) (AR5),5064,Crop Residues,2010,2010,3050,FAO TIER 1,kt,413.6385,E,Estimated value,NaN
4,GT,Emissions totals,4,Afghanistan,7234,Direct emissions (N2O),5064,Crop Residues,2011,2011,3050,FAO TIER 1,kt,1.0321,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136303,GT,Emissions totals,716,Zimbabwe,7273,Emissions (CO2),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,232.5145,E,Estimated value,NaN
136304,GT,Emissions totals,716,Zimbabwe,717815,Emissions (CO2eq) from F-gases (AR5),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,0.0000,E,Estimated value,NaN
136305,GT,Emissions totals,716,Zimbabwe,724413,Emissions (CO2eq) from CH4 (AR5),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,1.1175,E,Estimated value,NaN
136306,GT,Emissions totals,716,Zimbabwe,724313,Emissions (CO2eq) from N2O (AR5),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,6.1387,E,Estimated value,NaN
136307,GT,Emissions totals,716,Zimbabwe,723113,Emissions (CO2eq) (AR5),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,239.7706,E,Estimated value,NaN

In [4]:
df.columns = df.columns.str.lower()

In [5]:
#replace the spaces for underscores
df.columns = df.columns.str.replace(' ', '_')

In [6]:
df_filtered = df

In [7]:
#change the name of the columns area to country
df_filtered = df_filtered.rename(columns = {'area': 'country'})

In [8]:
df_filtered

,domain_code,domain,area_code_(m49),country,element_code,element,item_code,item,year_code,year,source_code,source,unit,value,flag,flag_description,note
0,GT,Emissions totals,4,Afghanistan,7234,Direct emissions (N2O),5064,Crop Residues,2010,2010,3050,FAO TIER 1,kt,1.2742,E,Estimated value,NaN
1,GT,Emissions totals,4,Afghanistan,7230,Emissions (N2O),5064,Crop Residues,2010,2010,3050,FAO TIER 1,kt,1.5609,E,Estimated value,NaN
2,GT,Emissions totals,4,Afghanistan,724313,Emissions (CO2eq) from N2O (AR5),5064,Crop Residues,2010,2010,3050,FAO TIER 1,kt,413.6385,E,Estimated value,NaN
3,GT,Emissions totals,4,Afghanistan,723113,Emissions (CO2eq) (AR5),5064,Crop Residues,2010,2010,3050,FAO TIER 1,kt,413.6385,E,Estimated value,NaN
4,GT,Emissions totals,4,Afghanistan,7234,Direct emissions (N2O),5064,Crop Residues,2011,2011,3050,FAO TIER 1,kt,1.0321,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136303,GT,Emissions totals,716,Zimbabwe,7273,Emissions (CO2),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,232.5145,E,Estimated value,NaN
136304,GT,Emissions totals,716,Zimbabwe,717815,Emissions (CO2eq) from F-gases (AR5),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,0.0000,E,Estimated value,NaN
136305,GT,Emissions totals,716,Zimbabwe,724413,Emissions (CO2eq) from CH4 (AR5),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,1.1175,E,Estimated value,NaN
136306,GT,Emissions totals,716,Zimbabwe,724313,Emissions (CO2eq) from N2O (AR5),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,6.1387,E,Estimated value,NaN
136307,GT,Emissions totals,716,Zimbabwe,723113,Emissions (CO2eq) (AR5),6815,Food Transport,2020,2020,3050,FAO TIER 1,kt,239.7706,E,Estimated value,NaN

In [9]:
df_filtered = df_filtered.drop(['domain', 'domain_code', 'element_code', 'item_code', 'year_code', 'source_code', 'source', 'flag', 'note', 'flag_description'], axis=1)

In [10]:
df_filtered["value"] = df_filtered["value"].round(2)

In [11]:
df_filtered

,area_code_(m49),country,element,item,year,unit,value
0,4,Afghanistan,Direct emissions (N2O),Crop Residues,2010,kt,1.27
1,4,Afghanistan,Emissions (N2O),Crop Residues,2010,kt,1.56
2,4,Afghanistan,Emissions (CO2eq) from N2O (AR5),Crop Residues,2010,kt,413.64
3,4,Afghanistan,Emissions (CO2eq) (AR5),Crop Residues,2010,kt,413.64
4,4,Afghanistan,Direct emissions (N2O),Crop Residues,2011,kt,1.03
...,...,...,...,...,...,...,...
136303,716,Zimbabwe,Emissions (CO2),Food Transport,2020,kt,232.51
136304,716,Zimbabwe,Emissions (CO2eq) from F-gases (AR5),Food Transport,2020,kt,0.00
136305,716,Zimbabwe,Emissions (CO2eq) from CH4 (AR5),Food Transport,2020,kt,1.12
136306,716,Zimbabwe,Emissions (CO2eq) from N2O (AR5),Food Transport,2020,kt,6.14
136307,716,Zimbabwe,Emissions (CO2eq) (AR5),Food Transport,2020,kt,239.77

In [12]:
list_countries = ['Angola', 'Argentina', 'Armenia', 'Australia', 'Azerbaijan',
       'Bangladesh', 'Benin', 'Bolivia (Plurinational State of)',
       'Botswana', 'Brazil', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Chad', 'Chile', 'China', 'Colombia',
       'Costa Rica', 'Cuba', "CÃ´te d'Ivoire",
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Eswatini', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia', 'Ghana', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Italy', 'Jordan',
       'Kazakhstan', 'Kenya', "Lao People's Democratic Republic",
       'Lebanon', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Mauritania', 'Mexico', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Nicaragua', 'Niger',
       'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Republic of Korea', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saudi Arabia', 'Senegal',
       'Sierra Leone', 'Somalia', 'South Sudan', 'Sri Lanka', 'Sudan',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Thailand',
       'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Uganda', 'Ukraine',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Zambia',
       'Zimbabwe']

In [13]:
df_filtered = df_filtered[df_filtered['country'].isin(list_countries)]

In [14]:
df_filtered.reset_index(drop=True, inplace=True)

In [15]:
df_filtered

,area_code_(m49),country,element,item,year,unit,value
0,24,Angola,Direct emissions (N2O),Crop Residues,2010,kt,0.43
1,24,Angola,Emissions (N2O),Crop Residues,2010,kt,0.52
2,24,Angola,Emissions (CO2eq) from N2O (AR5),Crop Residues,2010,kt,138.57
3,24,Angola,Emissions (CO2eq) (AR5),Crop Residues,2010,kt,138.57
4,24,Angola,Direct emissions (N2O),Crop Residues,2011,kt,0.49
...,...,...,...,...,...,...,...
69326,716,Zimbabwe,Emissions (CO2),Food Transport,2020,kt,232.51
69327,716,Zimbabwe,Emissions (CO2eq) from F-gases (AR5),Food Transport,2020,kt,0.00
69328,716,Zimbabwe,Emissions (CO2eq) from CH4 (AR5),Food Transport,2020,kt,1.12
69329,716,Zimbabwe,Emissions (CO2eq) from N2O (AR5),Food Transport,2020,kt,6.14
69330,716,Zimbabwe,Emissions (CO2eq) (AR5),Food Transport,2020,kt,239.77

In [16]:
df_filtered["element"].value_counts()

element
Emissions (CO2eq) (AR5)                 13085
Emissions (N2O)                         12100
Emissions (CO2eq) from N2O (AR5)        12100
Emissions (CH4)                          8481
Emissions (CO2eq) from CH4 (AR5)         8481
Emissions (CO2)                          6400
Direct emissions (N2O)                   5672
Emissions (CO2eq) from F-gases (AR5)     3012
Name: count, dtype: int64

In [17]:
element_mapping = {
    'Direct emissions (N2O)': 'Nitrous Oxide (N2O)',
    'Emissions (N2O)': 'Nitrous Oxide (N2O)',
    'Emissions (CO2eq) from N2O (AR5)': 'Carbon Dioxide (CO2)',
    'Emissions (CO2eq) (AR5)': 'Carbon Dioxide (CO2)',
    'Emissions (CH4)': 'Methane (CH4)',
    'Emissions (CO2eq) from CH4 (AR5)': 'Carbon Dioxide (CO2)',
    'Emissions (CO2)': 'Carbon Dioxide (CO2)',
    'Emissions (CO2eq) from F-gases (AR5)': 'Carbon Dioxide (CO2)'
}
df_filtered["element"] = df_filtered["element"].replace(element_mapping)

C:\Users\USER\AppData\Local\Temp\ipykernel_10164\676485232.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["element"] = df_filtered["element"].replace(element_mapping)

In [18]:
df_filtered

,area_code_(m49),country,element,item,year,unit,value
0,24,Angola,Nitrous Oxide (N2O),Crop Residues,2010,kt,0.43
1,24,Angola,Nitrous Oxide (N2O),Crop Residues,2010,kt,0.52
2,24,Angola,Carbon Dioxide (CO2),Crop Residues,2010,kt,138.57
3,24,Angola,Carbon Dioxide (CO2),Crop Residues,2010,kt,138.57
4,24,Angola,Nitrous Oxide (N2O),Crop Residues,2011,kt,0.49
...,...,...,...,...,...,...,...
69326,716,Zimbabwe,Carbon Dioxide (CO2),Food Transport,2020,kt,232.51
69327,716,Zimbabwe,Carbon Dioxide (CO2),Food Transport,2020,kt,0.00
69328,716,Zimbabwe,Carbon Dioxide (CO2),Food Transport,2020,kt,1.12
69329,716,Zimbabwe,Carbon Dioxide (CO2),Food Transport,2020,kt,6.14
69330,716,Zimbabwe,Carbon Dioxide (CO2),Food Transport,2020,kt,239.77

In [21]:
#Condense the data frame to show just 1 entry per country and year with the average of value grouped by element and item
df_filtered = df_filtered.groupby(['country', 'year', 'element', 'item', 'unit']).agg({'value':'mean'}).reset_index().round(2)

In [22]:
df_filtered

,country,year,element,item,unit,value
0,Angola,2010,Carbon Dioxide (CO2),Agrifood Systems Waste Disposal,kt,1134.35
1,Angola,2010,Carbon Dioxide (CO2),Crop Residues,kt,138.57
2,Angola,2010,Carbon Dioxide (CO2),Food Household Consumption,kt,281.49
3,Angola,2010,Carbon Dioxide (CO2),Food Packaging,kt,8.13
4,Angola,2010,Carbon Dioxide (CO2),Food Processing,kt,0.00
...,...,...,...,...,...,...
33661,Zimbabwe,2020,Nitrous Oxide (N2O),Food Transport,kt,0.02
33662,Zimbabwe,2020,Nitrous Oxide (N2O),Manure Management,kt,0.20
33663,Zimbabwe,2020,Nitrous Oxide (N2O),Manure applied to Soils,kt,0.28
33664,Zimbabwe,2020,Nitrous Oxide (N2O),Manure left on Pasture,kt,9.56
33665,Zimbabwe,2020,Nitrous Oxide (N2O),Synthetic Fertilizers,kt,0.72

In [23]:
#export the data frame to a csv file
df_filtered.to_csv('C:\\Users\\USER\\Documents\\GitHub\\Project1\\FAOSTAT_data_filtered.csv', index=False)