In [1]:
#importing relevant libraries and dataset

import pandas as pd
import numpy as np

dataset = "/Users/alexandreribeiro/Downloads/Data.csv"
data = pd.read_csv(dataset)

df = data.copy()

df.head()

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes
0,104,Myanmar,NaN,23161.02,"Rice, milled",2015,1.78,1.78%,26.12kgs,Storage,Storage,"30 days storage, with trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
1,104,Myanmar,NaN,23161.02,"Rice, milled",2015,11.77,11.77%,88.18kgs,Storage,Storage,"60 days storage, no trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
2,104,Myanmar,NaN,23161.02,"Rice, milled",2015,5.88,5.88%,44.09kgs,Storage,Storage,"30 days storage, no trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
3,104,Myanmar,NaN,23161.02,"Rice, milled",2015,3.57,3.57%,52.24kgs,Storage,Storage,"60 days storage, with trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
4,104,Myanmar,NaN,23161.02,"Rice, milled",2015,17.65,17.65%,132.27kgs,Storage,Storage,"90 days storage, no trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically

In [2]:
#Analysing data types

df.dtypes

m49_code                      int64
country                      object
region                       object
cpc_code                     object
commodity                    object
year                          int64
loss_percentage             float64
loss_percentage_original     object
loss_quantity                object
activity                     object
food_supply_stage            object
treatment                    object
cause_of_loss                object
sample_size                  object
method_data_collection       object
reference                    object
url                          object
notes                        object
dtype: object

In [3]:
#Standardize column names

df.columns = df.columns.str.lower().str.replace(' ', '_')

df.columns

Index(['m49_code', 'country', 'region', 'cpc_code', 'commodity', 'year',
       'loss_percentage', 'loss_percentage_original', 'loss_quantity',
       'activity', 'food_supply_stage', 'treatment', 'cause_of_loss',
       'sample_size', 'method_data_collection', 'reference', 'url', 'notes'],
      dtype='object')

In [4]:
#Missing values

df.isnull().sum()

m49_code                        0
country                         0
region                      24202
cpc_code                        0
commodity                       0
year                            0
loss_percentage                 0
loss_percentage_original        0
loss_quantity               24877
activity                     2808
food_supply_stage            3391
treatment                   24096
cause_of_loss               24414
sample_size                 24224
method_data_collection        355
reference                   20303
url                          3293
notes                       23139
dtype: int64

In [5]:
#Drop columns that are not relevant for our analysis

df = df.drop(columns=['notes', 'url', 'reference', 'method_data_collection', 'sample_size', 'cause_of_loss', 'treatment', 'region', 'cpc_code', 'loss_quantity', 'loss_percentage_original'])

df

,m49_code,country,commodity,year,loss_percentage,activity,food_supply_stage
0,104,Myanmar,"Rice, milled",2015,1.78000,Storage,Storage
1,104,Myanmar,"Rice, milled",2015,11.77000,Storage,Storage
2,104,Myanmar,"Rice, milled",2015,5.88000,Storage,Storage
3,104,Myanmar,"Rice, milled",2015,3.57000,Storage,Storage
4,104,Myanmar,"Rice, milled",2015,17.65000,Storage,Storage
...,...,...,...,...,...,...,...
25411,894,Zambia,Millet,2000,2.50000,Transportation,Farm
25412,894,Zambia,Millet,2000,2.50000,Winnowing,Farm
25413,894,Zambia,Millet,2000,2.38075,Storage,Storage
25414,894,Zambia,Millet,2000,3.44008,"Drying, Harvesting",Harvest
25415,894,Zambia,Millet,2000,1.27433,Storage,Farm

In [6]:
#How many rows have both activity and food_supply_stage missing

df[(df['activity'].isnull()) & (df['food_supply_stage'].isnull())].shape[0]

#Drop rows that have both activity and food_supply_stage missing

df = df.dropna(subset=['activity', 'food_supply_stage'], how='all') #dropping 46 rows

#Replace missing values in food_supply_stage with the same rows values on activity

df['food_supply_stage'] = df['food_supply_stage'].fillna(df['activity'])

#Drop activity column

df = df.drop(columns=['activity'])

/var/folders/9x/21kgbkbn0gx6fdwpv8lnjmnh0000gn/T/ipykernel_54338/2172304898.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['food_supply_stage'] = df['food_supply_stage'].fillna(df['activity'])

In [7]:
df.isnull().sum()

m49_code             0
country              0
commodity            0
year                 0
loss_percentage      0
food_supply_stage    0
dtype: int64

In [8]:
#Value count on food_supply_stage

df['food_supply_stage'].value_counts()

food_supply_stage
Farm                   9775
Harvest                3945
Shelling, Threshing    3342
Storage                2970
Transport              1963
Whole supply chain     1776
Retail                  494
Wholesale               293
Processing              283
Households              175
Post-harvest            107
Trader                   79
Export                   50
Market                   35
Food Services            20
Packing                  18
Distribution             17
Pre-harvest              11
Grading                  11
Grading, Sorting          3
Collector                 2
Stacking                  1
Name: count, dtype: int64

In [9]:
df.food_supply_stage.nunique()

22

In [10]:
#Standardize food_supply_stage values

#Merge 'Wholesale' 'Retail' 'Market' 'Trader' into 'Retail and wholesale'

df['food_supply_stage'] = df['food_supply_stage'].replace(['Wholesale', 'Retail', 'Market', 'Trader'], 'Retail, wholesale and market')

#Merge 'Processing' and 'Manufacturing' into 'Processing and manufacturing'

df['food_supply_stage'] = df['food_supply_stage'].replace(['Processing', 'Manufacturing'], 'Processing and manufacturing')

#Change 'Shelling, Threshing' to just 'Shelling'

df['food_supply_stage'] = df['food_supply_stage'].replace('Shelling, Threshing', 'Shelling')

#Merge 'Processing and manufacturing' and 'Shelling' into 'Processing, manufacturing and shelling'

df['food_supply_stage'] = df['food_supply_stage'].replace(['Processing and manufacturing', 'Shelling'], 'Shelling and processing')

#Merge 'Stacking' 'Collector' 'Packing' 'Gradin, Sorting' 'Grading' into 'Packing'

df['food_supply_stage'] = df['food_supply_stage'].replace(['Stacking', 'Collector', 'Packing', 'Grading, Sorting', 'Grading'], 'Packing')

#Merge 'Pre-harvest' and 'Post-harvest' into 'Harvest'

df['food_supply_stage'] = df['food_supply_stage'].replace(['Pre-harvest', 'Post-harvest'], 'Harvest')

#Merge 'Distribution' 'Export' 'Food Services' into 'Distribution and export'

df['food_supply_stage'] = df['food_supply_stage'].replace(['Distribution', 'Export', 'Food Services'], 'Distribution and export')

df['food_supply_stage'].value_counts()

food_supply_stage
Farm                            9775
Harvest                         4063
Shelling and processing         3625
Storage                         2970
Transport                       1963
Whole supply chain              1776
Retail, wholesale and market     901
Households                       175
Distribution and export           87
Packing                           35
Name: count, dtype: int64

In [11]:
df.food_supply_stage.nunique()

10

In [12]:
df['loss_percentage'] = df['loss_percentage'].round(1)

In [13]:
df['loss_percentage'].describe().round(1)

count    25370.0
mean         4.2
std          5.7
min          0.0
25%          1.5
50%          2.6
75%          4.4
max         65.0
Name: loss_percentage, dtype: float64

In [14]:
#Drop continent values from country column

df= df.drop(df[(df['country'] == 'Africa') | (df['country'] == 'Western Africa') | (df['country'] == 'Northern Africa') | (df['country'] == 'South Africa') | (df['country'] == 'Central Asia') | (df['country'] == 'Western Asia') | (df['country'] == 'Sub-Saharan Africa') | (df['country'] == 'Europe') | (df['country'] == 'Northern America') | (df['country'] == 'Oceania') | (df['country'] == 'South America') | (df['country'] == 'Southern Asia') | (df['country'] == 'South-Eastern Asia') | (df['country'] == 'Latin America and the Caribbean') | (df['country'] == 'Australia and New Zealand')].index)

#df = df.drop(df['country'] = ['Western Africa', 'Northern Africa', 'South Africa', 'Central Asia', 'Western Asia', 'Sub-Saharan Africa' 'Europe', 'Northern America', 'Oceania', 'South America', 'Southern Asia', 'South-Eastern Asia', 'Latin America and the Caribbean','Australia and New Zealand'])

df['country'].nunique()

109

In [15]:
df['country'].unique()

array(['Myanmar', 'Burundi', 'Cambodia', 'Algeria', 'Cameroon', 'Canada',
       'Sri Lanka', 'Chad', 'Chile', 'China', 'Colombia',
       'Democratic Republic of the Congo', 'Costa Rica', 'Cuba', 'Benin',
       'Denmark', 'Ecuador', 'El Salvador', 'Ethiopia', 'Eritrea',
       'Angola', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Palestine', 'Ghana', 'Azerbaijan', 'Argentina', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Honduras', 'India', 'Australia',
       'Indonesia', 'Iran (Islamic Republic of)', 'Italy',
       "Côte d'Ivoire", 'Kazakhstan', 'Jordan', 'Kenya',
       "Democratic People's Republic of Korea", 'Republic of Korea',
       "Lao People's Democratic Republic", 'Lebanon', 'Lesotho',
       'Liberia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali',
       'Mauritania', 'Bahrain', 'Mexico', 'Bangladesh', 'Morocco',
       'Mozambique', 'Armenia', 'Oman', 'Namibia', 'Nepal', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Pakistan', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Guinea-Bissau', 'Timor-Leste',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Bolivia (Plurinational State of)', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Sierra Leone', 'Viet Nam', 'Somalia', 'Zimbabwe',
       'Botswana', 'South Sudan', 'Sudan', 'Eswatini', 'Sweden',
       'Switzerland', 'Brazil', 'Syrian Arab Republic', 'Thailand',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda',
       'Ukraine', 'Egypt',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Burkina Faso', 'Venezuela (Bolivarian Republic of)', 'Zambia'],
      dtype=object)

In [16]:
#Reset index

df = df.reset_index(drop=True)

df

,m49_code,country,commodity,year,loss_percentage,food_supply_stage
0,104,Myanmar,"Rice, milled",2015,1.8,Storage
1,104,Myanmar,"Rice, milled",2015,11.8,Storage
2,104,Myanmar,"Rice, milled",2015,5.9,Storage
3,104,Myanmar,"Rice, milled",2015,3.6,Storage
4,104,Myanmar,"Rice, milled",2015,17.6,Storage
...,...,...,...,...,...,...
24901,894,Zambia,Millet,2000,2.5,Farm
24902,894,Zambia,Millet,2000,2.5,Farm
24903,894,Zambia,Millet,2000,2.4,Storage
24904,894,Zambia,Millet,2000,3.4,Harvest
24905,894,Zambia,Millet,2000,1.3,Farm

In [20]:
#Condense the data frame to show just 1 entry per country and and year between 2010 and 2020, with the e averagof loss_percentage grouped by food_supply_stage and commodity

df = df[(df['year'] >= 2010) & (df['year'] <= 2020)]

df = df.groupby(['country', 'year', 'food_supply_stage', 'commodity']).agg({'loss_percentage': 'mean'}).round(1).reset_index()

df

       country  year food_supply_stage     commodity  loss_percentage
0       Angola  2010              Farm  Maize (corn)              3.6
1       Angola  2010              Farm        Millet              1.7
2       Angola  2010              Farm          Rice              1.5
3       Angola  2010              Farm       Sorghum              3.0
4       Angola  2010              Farm         Wheat              4.2
...        ...   ...               ...           ...              ...
8723  Zimbabwe  2020           Storage        Millet              2.6
8724  Zimbabwe  2020           Storage       Sorghum              2.6
8725  Zimbabwe  2020         Transport  Maize (corn)              1.4
8726  Zimbabwe  2020         Transport        Millet              1.0
8727  Zimbabwe  2020         Transport       Sorghum              1.0

[8728 rows x 5 columns]

In [21]:
#Exporting the cleaned dataset

df.to_csv('/Users/alexandreribeiro/Downloads/cleaned_data.csv', index=False)